
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:1%;
    margin-top:1%;
}

.img {float: right; margin-right: 400px;}

.signup {color: pink;}
  
  a {
    text-decoration: none;
  }
  
  #header {
    display: flex;
    height: 3.25em;
    width: 1300px;
    justify-content: space-between;
    background: white;
    color: black;
    position: fixed;
  }


  
  #header a {
    padding: 0 1.5em;
  }
  
  #header nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  #banner {
   
    padding: 40px;
    border: 3px solid white
  ;}

 .float {
    width: 50%;
    float: :left;
    padding: 20px;
    border: 2px solid white;
  }

  .button {background-color: white;
  border: 2px solid purple;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration:;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  }

   
  .tiles {
    background-color: blueviolet;
    align-items: center;
    height: 30vh;
    width: 70%;
    padding: 20px;
    border: 2px solid white;
    }

    .freenft{ font-size: larger;}
  
  .soon {color: pink;
  text-transform: uppercase;}

  
  .tiles {
    display: flex;
    flex-wrap: wrap;
  }
 
  
  #contact {
    display: flex;
  }
  
  
 
  #contact > section:nth-child(2n - 1) {
    width: 60%;
  }
  
  #menu > a {
    display: none;
  }
  
  #menu .links {
    list-style: none;
    display: flex;
  }
  
  footer ul {
    margin: 0;
  }
  
  #meniu .links {list-style: none;
  display: flex}

  @media screen and (max-width: 550px) {
    #header {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    #menu .links{
      flex-direction: column;
    }
  
    #menu > a {
      display: none;
    }
  
    #menu  .links {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      align-items: center;
    }
  
    #menu  .links li {
      padding: 5px 0;
    }
  
    #banner {
      padding: 11em 0 1em 0;
    }
  }
  